*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    
    color:rgb(255, 255, 255);
    background:linear-gradient(to bottom, purple, rgb(232, 142, 232), rgb(240, 139, 240));
    
}

.navi{
    height:50px;
    display:flex;
    color:rgb(249, 249, 249);
    background-color: black;
    justify-content: space-between;
}

nav{
    word-spacing: 10px;

}

a{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

img{
    
    background-color:rgb(255, 200, 255);
    border-radius:90px;
}


a:link{
    color:rgb(221, 207, 226);
}

a:visited{
    color: rgb(255, 0, 166);
}

a:hover{
    color:rgb(233, 255, 255);
}


a:active{
    color:rgb(100, 237, 178);
}


section > nav{
    align-content:end;
    font-size: 20px;
    margin-right: 200px;
}

section{
    display: flex;
}




h1, .head{
    text-align: center;
    text-shadow: 2px 4px gray;
}

.head, h2{
    text-align:center;
}

 .head, h5{
    text-align: center;
    
}
 

div{
    background: linear-gradient(rgb(213, 36, 233), rgb(171, 60, 171));
    width:500px;
    height:300px;
    margin:100px;
    box-shadow:rgb(91, 30, 84)  5px 3px 10px 5px;
    justify-self: center;
    border-radius:30px;
    
    
}

div > ul  li {
    text-align: center;
    font-style: italic;
    list-style: none;
}



div > p{
    text-align: center;
}



.thumbnail{
    padding:20px;
    width:300px;
}











footer{
    
    background-color: black;
    text-align: center;
}

